<div class="row">
  <h1 class = text-center>Dashboard</h1>
  <div class="col-md-4">
  	<h2 class = 'text-center'>Books
  	<%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>
  </h2>

  	<table class="table table-condensed"> 
  		<thead> 
  			<tr> 
  				<th>ID</th> 
  				<th>Name</th> 
  				<th>Avalibility</th> 
  			</tr> 
  		</thead> 
  		
  		<tbody> 
  			<% @books.each do |book| %>
  			<tr>
  			 <th scope="row"><%= book.id %></th>
  			  <td><%=link_to book.name, book_path(book) %></td> 
  			   <td><%=book.availability%></td>
  			   <td><%=link_to 'Edit', edit_book_path(book)%></td>
  			</tr> 
  			<% end %>
  		</tbody>
</table>

  </div>


  <div class="col-md-4">
    <h2 class = 'text-center'>Purchased</h2>
  </div>
  <div class="col-md-4">
    <h2 class = 'text-center'>Sales</h2>
  </div>
</div>
